.edit{
    width: 100%;
}
.edit h2{
    font-size: 26px;
    line-height: 24px;
    color: #000;
    margin-bottom: 30px;
}
.edit-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.edit-top {
    width: 100%;
    display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}
    .edit-top-item { grid-area: 1 / 1 / 3 / 3; }
.edit-top-item:nth-of-type(2) { grid-area: 1 / 5 / 3 / 7; }
.edit-top-item:last-of-type { grid-area: 1 / 3 / 3 / 5; }
/* .edit-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */
.edit-top-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    row-gap: 10px;
    font-size: 22px;
    line-height: 18px;
}
.edit-top-item input{
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border: 2px solid #FFBEBE;
    border-radius: 7px;
    background: #FFBEBE;
    transition: all 300ms;
}
.edit-top-item input:focus{
    outline: none;
}
.edit-top-item input:hover{
    background: transparent;
}
.edit-top-item input:hover::placeholder{
    color: #FFBEBE;
}
.edit-top-item input::-webkit-file-upload-button{
    background: transparent;
    border: none;
}
.edit-top-item input::placeholder {
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    font-weight: 500;
}
.edit-link{
    width: 100%;
    height: 48px;
    background: #FFBEBE;
    color: #fff;
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    border: 1px solid #FFBEBE;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}
.edit-link:hover{
    background: transparent;
    color: #FFBEBE;
}
@media(max-width:1400px){
    /* .edit-top-item{
        width: 350px;
    } */
}
@media(max-width:1200px){
    /* .edit-top-item{
        width: 300px;
    } */
}
@media(max-width:992px){
    /* .edit-top-item{
        width: 220px;
    } */
}
@media(max-width:769px){
    .edit-top{
        row-gap: 15px;
    }
    /* .edit-top-item{
        width: 49%;
    }
    .edit-top-item:last-of-type{
        width: 100%;
    } */
}
@media(max-width:535px){
    .edit-top {
        display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
        }
        .edit-top-item{
            font-size: 18px;
    line-height: 16px;
        }
        .edit-link{
            font-size: 18px;
    line-height: 16px;
        }
        .edit-top-item:first-of-type { grid-area: 1 / 1 / 2 / 2; }
        .edit-top-item:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
        .edit-top-item:last-of-type { grid-area: 2 / 1 / 3 / 3; }
}
