.add-product-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-top: 30px;
}
.add-product-wrapper h1{
    font-size: 36px;
    line-height: 34px;
    color: #000;
}
.add-product-item-top,.add-product-item-center,.add-product-item-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    margin: 18px 0;
}
.add-product-item{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    row-gap: 10px;
}
.add-product-item{
    font-size: 18px;
    line-height: 16px;
    color: #000;
    font-weight: 400;
}
.add-product-item-bottom{
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    color: #000;
}
.add-product-size{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}
.add-product-size span{
    width: 52px;
    height: 55px;
    background: #FFBEBE;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #FFBEBE;
    transition: all;
}
.add-product-size span:hover{
    border: 2px solid green;
}
.add-product-item-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.add-product-item input{
    width: 100%;
    height: 55px;
    border: 2px solid #FFBEBE;
    border-radius: 8px;
    background: #FFBEBE;
    transition: all 300ms;
    padding: 15px 5px;
    cursor: pointer;
}
.add-product-item input:focus{
    outline: none;
}
.add-product-item input:hover{
    background: transparent;
}

.add-product-item input::placeholder{
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    transition: all 300ms;
}
.add-product-item input:hover::placeholder{
    color: #000;
}
.add-product-link{
    width: 100%;
    height: 55px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    background: #FFBEBE;
    border: 3px solid #FFBEBE;
    border-radius: 8px;
    transition: all 300ms;
}
.add-product-link:hover{
    color: #000;
    background: transparent;
}
.add-photo-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    margin: 10px 0;
}
.add-product-item button{
    width: 100%;
    height: 35px;
    background: #84ed79;
    border-radius: 8px;
    border: none;
}
.add-photo{
    width: 100px;
    height: 55px;
    background: #FFBEBE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0px 5px;
    
}
.add-photo svg{
    width: 22px;
    height: 22px;
}
/* .added-photo-wrapper{
    width: ;
} */
.add-photo-item{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;
}
.add-photo p{
    font-size: 18px;
    line-height: 16px;
    color: #000;
    margin: 0;
    overflow-x: scroll;
    width: 63px;
}

@media(max-width:535px){
    .add-product-item-top,.add-product-item-center,.add-product-item-bottom{
        flex-direction: column;
    }
    .add-product-item{
        width: 100%;
    }
    .add-photo-item{
        width: 100%;
    }
    .add-photo-wrapper{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
}